<div class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary flex flex-col justify-start">

    <!-- Image -->
    <a [routerLink]="['/clip/'+clip?.docId]">
        <img class="card-img-top rounded-tl-2xl w-full" [src]="clip?.thumbnail" crossorigin>
    </a>

    <!-- Body -->
    <div class="p-6 text-2xl">

        <!-- Link -->
        <a [routerLink]="['/clip/'+clip?.docId]" class="font-bold mb-2">
      {{clip?.title}}
    </a>
        <a  (click)="copyToClipboard($event , clip?.docId)" href="#" class="bg-gray-400 text-white px-2 py-1 ml-2 text-sm rounded">
      Copy Link
    </a>

    </div>

    <!-- Actions -->
    <div class="flex text-center text-2xl bg-gray-800 p-2 mt-auto">
        <a (click)="onSelectClip()" class="flex-1 p-2 border-right border-r-2 border-gray-700 transition hover:text-indigo-400 hover:cursor-pointer">
            <span class="material-icons text-base">build</span>
        </a>
        <a (click)="onDeleteClipHandler()" class="flex-1 p-2 rounded-br-2xl transition hover:text-indigo-400 hover:cursor-pointer">
            <span class="material-icons text-base">delete</span>
        </a>
    </div>

</div>
